@import "tailwindcss";

@theme {
  --color-bg: #0C0A10;
  --color-bg1: #110F16;
  --color-bg2: #17141E;
  --color-bg3: #1E1A28;
  --color-bg4: #252030;
  --color-brd: #2A2538;
  --color-lilac: #B8A4D6;
  --color-lilac-2: #CDBDE8;
  --color-lilac-3: #9882BA;
  --color-lilac-4: #7B68A0;
  --color-pink: #D4A0B9;
  --color-plum: #6B4F7A;
  --color-gold: #D4B896;
  --color-txt: #EDE8F2;
  --color-tx2: #B0A4BF;
  --color-tx3: #7E7290;
  --color-tx4: #514768;
}

@layer base {
  body {
    background-color: #0C0A10;
    color: #EDE8F2;
  }
}
